@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/*

  Con este reset vamos a resolver:
    游녤 Unificar el uso de Custom Properties
    游녤 Problemas de box-model m치s generales
    游녤 Problemas con imagenes, v칤deos e iconos svg
    游녤 Problemas con tipograf칤as y etiquetas input en formularios
    游녤 Unificar la tipograf칤a de todas las etiquetas de una web

*/
/* Aqu칤 definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipograf칤a */
  --tipo-principal: 'Montserrat', Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}


/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  word-break: keep-all;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight on mobile tap */
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en p치rrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  background-color: #252525;

}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipograf칤as y colocaci칩n de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Prob치ndolo, no usar en producci칩n) En el caso de a침adir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipograf칤a para toda la web */
body {

  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.navBar{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #252525;
  z-index: 2;
}

.navBar__Button {
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 30px; /* Change this value to position the div on the left side */
  transform: translateY(-50%);
  font-size: 14px;
}

.navBar__tortuLogoContainer{
  margin-top: -10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.menuTilesContainer{
  padding-top: 61px;
}

.menuTile{
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: green;
  transition: all 0.2s ease-in-out;
}

.menuTile:hover{
  filter: brightness(85%);
    cursor: pointer;
}

.loadingCard{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  font-size: x-large;
  color: black;
  height: 750px;
  width: 450px;
  max-width: 500px;
  min-height: 500px;
  border-radius: 15px;
  padding: 30px;
  margin: 50px 0px;
}

.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  align-items: center;
  width: 100%;
}



/* /////////////////////// GENERIC CARD /////////////////////// */

.genericCard{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;


  padding-bottom: 30px;
  color:black;
  width: 90%;
  max-width: 500px;
  min-height: 500px;
  background-color: white;
  border-radius: 15px;
  margin: 50px 0px;
}

.genericCard h1{
  font-size: 1.5em; 
  font-weight: bold;
  padding: 1.5em;
  line-height: 1.5;
}

.genericCard h2{
  font-size: 1em; 
  font-weight: bold; 
  padding-top: 2em ;
  padding-bottom: 0.5em;
}
.genericCard p{
  font-size: clamp(0.7em, 3.3vw, 1em);
}

.genericCard__imgContainer{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.genericCard__imgContainer img{
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 90%;
}

.genericCard__imgContainer.fullSize {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8); /* set background color to black with 80% opacity */
  display: flex; /* use flexbox to center the image */
  justify-content: center; /* center the image horizontally */
  align-items: center; /* center the image vertically */
}

.genericCard__imgContainer.fullSize img {
  max-width: 100%;
  max-height: 100%;
}


.genericCard__description{
  text-align: start;
  width: 100%;
  padding: 0 30px;
}

/* /////////////////////// GENERIC CARD /////////////////////// */

.swiper {
  width: 100%;
  height: 100%;
}

.fundacionContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.fundacionContainer p{

  text-align: center;
  line-height: 1.5;
  padding: 0 50px;

}

.bannerLogosSection{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.bannerLogoSectionContainer{
  background-color: white;
  border-radius: 15px;
  width: 95%;
  padding: 30px 50px;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
  max-width: 800px;
}

.logoMarcasContainer{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
}

.logo_si_container{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;

}
.bannerLogoImg{
  width: 100%; /* Make the image fill the width of the parent div */
  height: auto; /* Automatically adjust the height based on the aspect ratio */
  display: block; /* Remove any additional spacing */
  object-fit: contain; 
}
